<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reabilitare Fisioterapia</title>
    <link href="~/Content/Images/logo_fundo_transparente.ico" rel="icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/">
                <img src="~/Content/Images/logo com fundo transparente.png" alt="logo" />
            </a>
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" id="QuemSomos">@Html.ActionLink("Quem Somos", "Index", "QuemSomos", null, new { @class = "nav-link" })</li>
                    <li class="nav-item" id="Especialidades">@Html.ActionLink("Especialidades", "Index", "Especialidade", null, new { @class = "nav-link" })</li>
                    <li class="nav-item" id="Convenios">@Html.ActionLink("Convênios", "Index", "Convenio", null, new { @class = "nav-link" })</li>
                    @*<li class="nav-item" id="FaleConosco">@Html.ActionLink("Fale Conosco", "Index", "Home", null, new { @class = "nav-link" })</li>*@
                </ul>
            </div>
        </div>
    </nav>
    <div class="">
        @RenderBody()
        <footer>
            <div class="container-fluid padding">
                <div class="row text-center">
                    <div class="col-md-3">
                        <img src="~/Content/Images/fisio-logo-final-branca.png" alt="Alternate Text" />
                        <br />
                        <a href="https://www.facebook.com/reabilitarefisiomanual/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.instagram.com/reabilitarefisio/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-md-3">
                        <hr class="light" />
                        <h5>Contatos</h5>
                        <hr class="light" />
                        <p><i class="fab fa-whatsapp"></i> (61) 99802-7634</p>
                        <p>(61) 3548-8207</p>
                        <p>SMDB Conjunto 12, Bloco A</p>
                        <p>Sala 212 - Lago Sul, Brasília</p>
                        <p>CEP 71680120</p>
                    </div>
                    <div class="col-md-3">
                        <hr class="light" />
                        <h5>Especialidades</h5>
                        <hr class="light" />
                        <p>Fisioterapia ortopédica</p>
                        <p>Terapia manual</p>
                        <p>Osteopatia</p>
                        <p>Acupuntura</p>
                        <p>Pilates</p>
                        <p>RPG</p>
                    </div>
                    <div class="col-md-3">
                        <hr class="light" />
                        <h5>Horário de Funcionamento</h5>
                        <hr class="light" />
                        <p>De segunda à sexta: 7h - 20h</p>
                    </div>
                    <div class="col-12">
                        <hr class="light-100" />
                        <h5>Reabilitare Fisioterapia&reg;</h5>
                    </div>
                </div>
            </div>
        </footer>
        <a href="javascript:" id="return-to-top"><i class="fas fa-chevron-up"></i></a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<script>

    $(window).scroll(function () {

        if ($(this).scrollTop() >= 50) {

            $('#return-to-top').fadeIn(200);

        } else {

            $('#return-to-top').fadeOut(200);

        }

    });

    $('#return-to-top').click(function () {

        $('body,html').animate({

            scrollTop: 0

        }, 500);

    });

</script>
