<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reabilitare Fisioterapia</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/">
                <img src="~/Content/Images/logo_reabilitare.jpg" alt="logo" width="30" height="30" />
            </a>
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">@Html.ActionLink("Quem Somos", "Index", "QuemSomos", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Especialidades", "Index", "Especialidade", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Convênios", "Index", "Convenio", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Fale Conosco", "Index", "Home", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="">
        @RenderBody()
        <footer>
            <div class="container-fluid padding">
                <div class="row text-center">
                    <div class="col-md-3">
                        <img src="~/Content/Images/logo_reabilitare.jpg" alt="Alternate Text" />
                        <hr class="light" />
                        <p><i class="fab fa-whatsapp"></i> (61) 99802-7634</p>
                        <p>QI 23 SMDB Conjunto 12 Bloco A</p>
                        <p>Sala 212 - Lago Sul, Brasília</p>
                        <p>CEP 71680120</p>
                    </div>
                    <div class="col-md-3">
                        <hr class="light" />
                        <h5>Horário de Funcionamento</h5>
                        <hr class="light" />
                        <p>Monday: 9am - 5pm</p>
                        <p>Monday: 9am - 5pm</p>
                        <p>Monday: 9am - 5pm</p>
                    </div>
                    <div class="col-md-3">
                        <hr class="light" />
                        <h5>Especialidades</h5>
                        <hr class="light" />
                        <p>Fisioterapia ortopédica</p>
                        <p>Terapia manual</p>
                        <p>Osteopatia</p>
                        <p>Acupuntura</p>
                        <p>Pilates</p>
                    </div>
                    <div class="col-md-3 social">
                        <hr class="light" />
                        <h5>Siga-nos</h5>
                        <hr class="light" />
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="col-12">
                        <hr class="light-100" />
                        <h5>Reabilitare Fisioterapia&reg;</h5>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
